In [7]:
import numpy as np
import requests
from bs4 import BeautifulSoup
import pandas as pd

try:
  headers = {
    'User-Agent': 'Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405',
    'From': 'aw183052@terpmail.umd.edu'
  }
  
  r1 = requests.get("https://www.worldometers.info/world-population/us-population/", headers=headers)

except error as e:
  print(e)

root1 = BeautifulSoup(r1.content, "html")

#find and getting the table data for all 3 websites
webTable1 = root1.find('table', attrs = {"class": "table table-striped table-bordered table-hover table-condensed table-list"} ).prettify()

#creating a table for webtable1
columns = ['year', 'population', 'population percent change', 'yearly change', 'migrants', 'median age', 'fertility rate', 'density', 'urban pop percent', 'urban pop', 'country share of world pop', 'world pop', 'us global rank']
index = range(1, 19)

#takes the first dataframe from the list
dataTable1 = pd.read_html(webTable1)[0] #list of dataFrame

#set columns name to values in columns and set the index with range from 1 - 19
dataTable1.columns = columns
dataTable1.index = index 

dataTable1

,year,population,population percent change,yearly change,migrants,median age,fertility rate,density,urban pop percent,urban pop,country share of world pop,world pop,us global rank
1,2020,331002651,0.59 %,1937734,954806,38.3,1.78,36,82.8 %,273975139,4.25 %,7794798739,3
2,2019,329064917,0.60 %,1968652,954806,37.7,1.85,36,82.5 %,271365914,4.27 %,7713468100,3
3,2018,327096265,0.62 %,2011509,954806,37.7,1.85,36,82.2 %,268786714,4.29 %,7631091040,3
4,2017,325084756,0.64 %,2068761,954806,37.7,1.85,36,81.9 %,266243516,4.31 %,7547858925,3
5,2016,323015995,0.67 %,2137685,954806,37.7,1.85,35,81.7 %,263743312,4.33 %,7464022049,3
6,2015,320878310,0.76 %,2373367,992343,37.6,1.88,35,81.4 %,261287811,4.35 %,7379797139,3
7,2010,309011475,0.93 %,2803593,1085751,36.9,2.06,34,80.7 %,249297076,4.44 %,6956823603,3
8,2005,294993511,0.93 %,2656520,1066979,36.1,2.04,32,80.0 %,235892407,4.51 %,6541907027,3
9,2000,281710909,1.22 %,3309433,1771991,35.2,2.00,31,79.1 %,222927913,4.59 %,6143493823,3
10,1995,265163745,1.01 %,2608687,892751,34.0,2.03,29,77.4 %,205240402,4.62 %,5744212979,3
11,1990,252120309,0.95 %,2324097,673371,32.8,1.91,28,75.4 %,190156233,4.73 %,5327231061,3
12,1985,240499825,0.94 %,2204694,676492,31.4,1.80,26,74.6 %,179400645,4.94 %,4870921740,3
13,1980,229476354,0.93 %,2079021,754176,30.0,1.77,25,73.8 %,169422683,5.15 %,4458003514,3
14,1975,219081251,0.90 %,1913582,577869,29.0,2.03,24,73.7 %,161450209,5.37 %,4079480606,3
15,1970,209513341,0.96 %,1955933,311211,28.4,2.54,23,73.6 %,154262109,5.66 %,3700437046,3
16,1965,199733676,1.36 %,2602621,367146,28.6,3.23,22,71.9 %,143624659,5.98 %,3339583597,3
17,1960,186720571,1.69 %,3007047,424979,29.7,3.58,20,70.0 %,130757407,6.15 %,3034949748,3
18,1955,171685336,1.57 %,2576188,173553,30.3,3.31,19,67.2 %,115375863,6.19 %,2773019936,3

In [8]:
# Tiyding Data for datatable1

dataTable1 = dataTable1.drop(['migrants', 'median age', 'fertility rate', 'density', 'urban pop percent', 'urban pop', 'country share of world pop', 'world pop', 'us global rank'], axis = 1)

dataTable1

    year  population population percent change  yearly change
1   2020   331002651                    0.59 %        1937734
2   2019   329064917                    0.60 %        1968652
3   2018   327096265                    0.62 %        2011509
4   2017   325084756                    0.64 %        2068761
5   2016   323015995                    0.67 %        2137685
6   2015   320878310                    0.76 %        2373367
7   2010   309011475                    0.93 %        2803593
8   2005   294993511                    0.93 %        2656520
9   2000   281710909                    1.22 %        3309433
10  1995   265163745                    1.01 %        2608687
11  1990   252120309                    0.95 %        2324097
12  1985   240499825                    0.94 %        2204694
13  1980   229476354                    0.93 %        2079021
14  1975   219081251                    0.90 %        1913582
15  1970   209513341                    0.96 %        1955933
16  1965   199733676                    1.36 %        2602621
17  1960   186720571                    1.69 %        3007047
18  1955   171685336                    1.57 %        2576188

In [28]:
# Tiyding Data for COVIDdata
dfChunk = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv', chunksize = 1000)
#print(data)
#data = data.drop(['Country_code', 'WHO_region', 'New_cases', 'New_deaths'], axis = 1)

chunk_list = []  # append each chunk df here 

# Each chunk is in df format
index = 0
for chunk in dfChunk:  


    for i in chunk.index:
        if index == 1000:
            index = 0
        if chunk["Country"][i] != 'United States of America':
            chunk = chunk.drop([i])
        else:
            index = index + 1
    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk)
    
# concat the list into dataframe 
df_concat = pd.concat(chunk_list)

[range(1, 711)]

In [45]:
numIndex = len(df_concat.index)

x = [*range(1,numIndex + 1)]
df_concat['index'] = x
df_concat = df_concat.set_index('index')
df_concat

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
index,,,,,,,,
1,2020-01-03,US,United States of America,AMRO,0,0,0,0
2,2020-01-04,US,United States of America,AMRO,0,0,0,0
3,2020-01-05,US,United States of America,AMRO,0,0,0,0
4,2020-01-06,US,United States of America,AMRO,0,0,0,0
5,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
707,2021-12-09,US,United States of America,AMRO,133632,49116216,2182,785615
708,2021-12-10,US,United States of America,AMRO,125770,49241986,1520,787135
709,2021-12-11,US,United States of America,AMRO,134426,49376412,1197,788332
710,2021-12-12,US,United States of America,AMRO,0,49376412,0,788332
711,2021-12-13,US,United States of America,AMRO,155126,49531538,1972,790304